{% extends "template.html" %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="span12">

          <h1 class="page-header">
            System Info
          </h1>

          <section>
            <h5 class="header">Version: <span style="text-transform: none;">{{context.current_version}} {{context.develop}}</span></h5>
          </section>

          <table class="table table-bordered" style="width: 100%">
            <thead>
              <tr>
                <th>Load Average</th>
                <th>Free Space</th>
                <th>Uptime</th>
                <th>Monitor Info</th>
                <th>Display Power</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{context.loadavg}}</td>
                <td>{{context.free_space}}</td>
                <td>{{context.uptime.days}} days and {{ (context.uptime.seconds / 3600)|round(2) }} hours</td>
                <td>{{context.display_info}}</td>
                <td>{{context.display_power}}</td>
              </tr>
            </tbody>
          </table>

          <section>
            <div class="header">Latest Viewer Logs</div>
          </section>

          {% if context.viewlog %}
            <table class="table table-striped">
              {% for line in context.viewlog %}
                <tr>
                  <td>{{line}}</td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>There are no recent log messages.</p>
          {% endif %}

        </div>
      </div>
    </div>
{% endblock %}
